*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    border: 0.3rem solid black;
    display: flex;

    justify-content: space-evenly;
}

.box{
    width: 10rem;
    height: 10rem;
}

.box1{
    background-color: aqua;
}
.box2{
    background-color: blueviolet;

}

.box3{
    background-color: yellow;
}

.box4{
    background-color: violet;
}

.box5{
    background-color: chartreuse;
}

.box6{
    background-color: yellowgreen;
}
