.block-elemnt{
    background-color: chocolate;
    margin: 15px;
    padding: 20px;
}

.nav{
    background-color: aqua;
    padding: 20px;
    list-style: none;
    text-align: center;
}

.nav li{
    display: inline-block;
    background-color: brown;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
    
}